<div class="col-xs-6 col-sm-3 chef-thumb">
    <div class="media" itemtype="http://schema.org/Article">
        <div class="media-body text-center">
            <!-- image chef -->
            <a href="[@URL@]" itemprop="url" title="Meet [@content_name@]">
                <img src="[%asset_url type:'content' id:'[@content_id@]' default:''/%]" alt="[@content_name@] [@content_short_description1@]">
            </a>
            <!-- end image chef -->
            <br>
            <br>
            <h4 class="chef-name"><a href="[@URL@]" itemprop="url" title="Meet [@content_name@]">[@content_name@]</a></h4>
            <span>[@content_short_description1@]</span>
            <br>
            <span>[@content_short_description2@]</span>
            <p>
                <!--##[%IF [@content_allow_reviews@] and [@reviews@] > 0%]##--><a href="[@URL@]#comments">Comment</a> <span class="text-muted">([@reviews@])</span><!--##[%END IF%]##-->
                <div class="wrapper-share-button">
                    <a class="addthis_button btn btn-default btn-xs" addthis:url="[@URL@]"
               addthis:title="[@content_name@]"  addthis:description="[@content_short_description1@]" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-5282cbb6476f74a0" target="_blank">
                        <strong>Share: </strong>
                        <i class="fa fa-facebook-square text-facebook"></i>
                        <i class="fa fa-twitter-square text-twitter"></i>
                        <i class="fa fa-google-plus-square text-google-plus"></i>
                        <i class="fa fa-pinterest-square text-pinterest"></i>
                        <i class="fa fa-tumblr-square text-tumblr"></i>
                    </a>
                </div>
            </p>
        </div>
    </div>
</div>