<div class="media reipes-thumb" itemtype="http://schema.org/Article">
	<div class="media-body">
        
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <!-- image chef -->
                <a href="[@URL@]" itemprop="url" title="Read [@content_name@]">
                    <img src="[%asset_url type:'content' id:'[@content_id@]' default:'[$imageurl$]/images/chef-works-recipes.jpg'/%]" alt="[@content_name@] by [@content_short_description1@]">
                </a>
                <!-- end image chef -->
            </div>
            <div class="col-xs-12 col-sm-7">
                <h4 class="recipe-name"><a href="[@URL@]" itemprop="url" title="Read [@content_name@]">[@content_name@]</a></h4>
                <span class="from-chef">From [@content_short_description1@]</span> | <span class="recipes-time"><i class="fa fa-clock-o"></i> [@content_short_description2@]</span>
                <br><br>
                <div class="wrapper-share-button">
                    <a class="addthis_button btn btn-default btn-xs" addthis:url="[@URL@]" addthis:title="[@content_name@]"  addthis:description="[@content_short_description1@]" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-5282cbb6476f74a0" target="_blank">
                        <strong>Share: </strong>
                        <i class="fa fa-facebook-square text-facebook"></i>
                        <i class="fa fa-twitter-square text-twitter"></i>
                        <i class="fa fa-google-plus-square text-google-plus"></i>
                        <i class="fa fa-pinterest-square text-pinterest"></i>
                        <i class="fa fa-tumblr-square text-tumblr"></i>
                    </a>
                </div>
            </div>
        </div>
	</div>
</div>