<!--##[%SET [@page_type@]='category'/%]##-->

<!-- breadcrumb-wrapper -->
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="shopbyfamily">
                <!-- breadcrumb -->
                <!--##[%breadcrumb%]
                    [%PARAM *header%]##-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="[$home_url$]">Home</a>
                            </li>
                    <!--##[%END PARAM%]
                    [%PARAM *body%]##-->
                        <li>
                            <a href="[@url@]">[@name@]</a>
                        </li>
                    <!--##[%END PARAM%]
                    [%PARAM *footer%]##-->
                        </ul>
                <!--##[%END PARAM%] [%END breadcrumb%]##-->
                <!-- end breadcrumb -->
            </div>
        </div> <!-- end row -->
    </div>
</div>
<!-- end breadcrumb-wrapper -->
<div class="container-fluid full-page text-center" id="hero" style="">
	<h1><span>BYRON CANVAS</span><br><span>CROSS BACK</span></h1>
	<h2 class="lowercase"><span>apron collection</span></h2>
	<img src="[%url type:'home'/%]assets/images/canvas-cross-back-category/space-for-your-style.png" alt="space for your style">
	<a href="#scroll-down" title="Scroll down"></a>
</div>
<div class="container intro">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3 class="lowercase text-center" id="scroll-down">made to suit your style</h3>
			<br>
			<p>The Cross-Back feature of the Byron Canvas Aprons offers a comfortable, light-weight feel by spreading the weight across the shoulders. Detach the straps for easy washing.<br>
			Created with a Canvas Cotton fabric, these aprons provide strength and breath-ability. The tight weave of the fabric gives increased resistance against splashes and spills and ensures the fabric keeps its shape.<br>
			Their simple 'blank canvas' style provides optimum space for personal branding.
			</p>
			<br>
			<br>
			<h3 class="lowercase text-center">features</h3>
			<br>
			<ul style="padding-left: 12px;">
				<li>315gm2</li>
				<li>100% cotton</li>
				<li>Removable cross back ties</li>
				<li>Contrast ties</li>
				<li>Metal tie loops</li>
				<li>Double hip pocket</li>
				<li>Riveted pocket ends</li>
			</ul>
		</div>
		<div class="col-xs-12 visible-xs">
			<p>&emsp;</p>
		</div>
		<div class="col-xs-12 col-sm-6 nopadding">
			<!-- slider -->
			<img style="width:100%;" src="https://www.chefworks.com.au/assets/images/canvas-cross-back-category/canvas-cross-back-apron-details.jpg" alt="The Byron Canvas Cross Back Aprons Deatails">
		</div>
	</div>
</div>
<div class="container" style="margin-bottom: 120px;">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="lowercase text-center" style="margin-bottom: 30px;">colours</h3>
			
			<!-- responsive slider -->
			<div class="aprons-list">
				<div class="apron">
					<a href="/assets/alt_1/ACRS602-NAT.jpg" rel="product_images_nat" class="fancybox" title="Byron Natural Canvas Cross Back Apron">
						<img src="https://www.chefworks.com.au/assets/images/canvas-cross-back-category/ACRS602-NAT.jpg" alt="New Byron Apron - Natural Colour">
					</a>
					<h4 class="text-center lowercase">natural</h4>
					<a href="https://www.chefworks.com.au/canvas-cross-backnatural-apron" class="button" title="Buy now the Byron Natural Canvas Cross Back Apron">buy now</a>
					<a href="/assets/alt_2/ACRS602-NAV.jpg" rel="product_images_nat" class="fancybox"></a>
					<a href="/assets/alt_3/ACRS602-NAT.jpg" rel="product_images_nat" class="fancybox"></a>
					<a href="/assets/alt_4/ACRS602-NAT.jpg" rel="product_images_nat" class="fancybox"></a>
				</div>
				<div class="apron">
					<a href="/assets/alt_1/ACRS602-GRY.jpg" rel="product_images_gry" class="fancybox" title="Byron Grey Canvas Cross Back Apron">
						<img src="https://www.chefworks.com.au/assets/images/canvas-cross-back-category/ACRS602-GRY.jpg" alt="New Byron Apron - Grey Colour">
					</a>
					<h4 class="text-center lowercase">grey</h4>
					<a href="https://www.chefworks.com.au/canvas-cross-back-grey-apron" class="button" title="Buy now the Byron Grey Canvas Cross Back Apron">buy now</a>
					<a href="/assets/alt_2/ACRS602-GRY.jpg" rel="product_images_gry" class="fancybox"></a>
					<a href="/assets/alt_3/ACRS602-GRY.jpg" rel="product_images_gry" class="fancybox"></a>
					<a href="/assets/alt_4/ACRS602-GRY.jpg" rel="product_images_gry" class="fancybox"></a>
				</div>
				<div class="apron">
					<a href="/assets/alt_1/ACRS602-KHA.jpg" rel="product_images_kha" class="fancybox" title="Byron Khaki Canvas Cross Back Apron">
						<img src="https://www.chefworks.com.au/assets/images/canvas-cross-back-category/ACRS602-KHA.jpg" alt="New Byron Apron - Khaki Colour">
					</a>
					<h4 class="text-center lowercase">khaki</h4>
					<a href="https://www.chefworks.com.au/canvas-cross-back-khaki-apron" class="button" title="Buy now the Byron Khaki Canvas Cross Back Apron">buy now</a>
					<a href="/assets/alt_2/ACRS602-KHA.jpg" rel="product_images_kha" class="fancybox"></a>
					<a href="/assets/alt_3/ACRS602-KHA.jpg" rel="product_images_kha" class="fancybox"></a>
					<a href="/assets/alt_4/ACRS602-KHA.jpg" rel="product_images_kha" class="fancybox"></a>
				</div>
				<div class="apron">
					<a href="/assets/alt_1/ACRS602-BRO.jpg" rel="product_images_bro" class="fancybox" title="Byron Brown Canvas Cross Back Apron">
						<img src="https://www.chefworks.com.au/assets/images/canvas-cross-back-category/ACRS602-BRO.jpg" alt="New Byron Apron - Brown Colour">
					</a>
					<h4 class="text-center lowercase">brown</h4>
					<a href="https://www.chefworks.com.au/canvas-cross-back-brown-apron" class="button" title="Buy now the Byron Brown Canvas Cross Back Apron">buy now</a>
					<a href="/assets/alt_2/ACRS602-BRO.jpg" rel="product_images_bro" class="fancybox"></a>
					<a href="/assets/alt_3/ACRS602-BRO.jpg" rel="product_images_bro" class="fancybox"></a>
					<a href="/assets/alt_4/ACRS602-BRO.jpg" rel="product_images_bro" class="fancybox"></a>
				</div>
				<div class="apron">
					<a href="/assets/alt_1/ACRS602-NAV.jpg" rel="product_images_nav" class="fancybox" title="Byron Navy Canvas Cross Back Apron">
						<img src="https://www.chefworks.com.au/assets/images/canvas-cross-back-category/ACRS602-NAV.jpg" alt="New Byron Apron - Navy Colour">
					</a>
					<h4 class="text-center lowercase">navy</h4>
					<a href="https://www.chefworks.com.au/canvas-cross-back-navy-apron" class="button" title="Buy now the Byron Navy Canvas Cross Back Apron">buy now</a>
					<a href="/assets/alt_2/ACRS602-NAV.jpg" rel="product_images_nav" class="fancybox"></a>
					<a href="/assets/alt_3/ACRS602-NAV.jpg" rel="product_images_nav" class="fancybox"></a>
					<a href="/assets/alt_4/ACRS602-NAV.jpg" rel="product_images_nav" class="fancybox"></a>
				</div>
			</div>
			
		</div>
	</div>
	<div class="clear-fix"></div>
</div>

<!-- main content -->
<div id="main-content" class="container">
	
    <div class="row hidden-xs">
        <div class="col-sm-12">
            <div class="category-desc">
                <br>
                [@content_description2@]
                <br>
                <br>
            </div>
        </div>
    </div>