<div class="top-category-wrapper positive" style="background-image:url([%asset_url type:'content' id:'[@content_id@]' default:''/%]); background-size:cover; background-position:center center; height:400px;">
    <div class="container">
        <div class="row">
        	<!--##[%IF [@content_id@]%]##-->
            
                <!--##[%IF [@content_description1@]%]##-->
                <div class="col-sm-6">
                    <br />
                    <h1>
                        <!--##[%url_info name:'page_heading' if:'eq' value:''%]
                            [%PARAM if_true%]##-->
                            [@content_name@]
                            <!--##[%END PARAM%]
                            [%PARAM if_false%]##-->
                            <!--##[%url_info name:'page_heading'%][%end url_info%]##-->
                            <!--##[%END PARAM%]
                        [%end url_info%]##-->

                        <!--##[%IF [@keywords@] == ''%]##-->
                            <!--##[%FILTER ID:'keywords' if:'ne' value:''%]##--><!--##[%NOHTML%][%FILTER ID:'keywords'%][%END FILTER%][%END NOHTML%]##--><!--##[%END FILTER%]##-->
                        <!--##[%END IF%]##-->
                    </h1>
                    <div class="category-desc banner-top-layout">
                    <!-- [@content_short_description1@] -->
                    [@content_description1@]
                    <br />
                        <p style="text-align:center;">
                    <a href="#shopbyfamily" title="Meet the Chefs" class="btn btn-primary">Meet the Chefs</a>
                    </div>
                </div>
                <!--##[%ELSE%]##-->
                <div class="col-sm-12 no-description">
                    <br />
                    <h1>
                        <!--##[%url_info name:'page_heading' if:'eq' value:''%]
                            [%PARAM if_true%]##-->
                            [@content_name@]
                            <!--##[%END PARAM%]
                            [%PARAM if_false%]##-->
                            <!--##[%url_info name:'page_heading'%][%end url_info%]##-->
                            <!--##[%END PARAM%]
                        [%end url_info%]##-->

                        <!--##[%IF [@keywords@] == ''%]##-->
                            <!--##[%FILTER ID:'keywords' if:'ne' value:''%]##--><!--##[%NOHTML%][%FILTER ID:'keywords'%][%END FILTER%][%END NOHTML%]##--><!--##[%END FILTER%]##-->
                        <!--##[%END IF%]##-->
                    </h1>
                </div>
                <!--##[%END IF%]##-->
            
            <!--##[%ELSE%]##-->
            <div class="col-sm-6">
            	<br /><br />
                <h1>
                    <!--##[%url_info name:'page_heading' if:'eq' value:''%]
                        [%PARAM if_true%]##-->
                        [@content_name@]
                        <!--##[%END PARAM%]
                        [%PARAM if_false%]##-->
                        <!--##[%url_info name:'page_heading'%][%end url_info%]##-->
                        <!--##[%END PARAM%]
                    [%end url_info%]##-->

                    <!--##[%IF [@keywords@] == ''%]##-->
                        <!--##[%FILTER ID:'keywords' if:'ne' value:''%]##--><!--##[%NOHTML%][%FILTER ID:'keywords'%][%END FILTER%][%END NOHTML%]##--><!--##[%END FILTER%]##-->
                    <!--##[%END IF%]##-->
                </h1>
                <p class="category-desc">
                <!-- [@content_short_description1@] -->
                [%parse%]
                [@content_description1@]
            	[%/ parse%]
                <br />
                <a href="#shopbyfamily" title="Meet the Chefs" class="btn btn-primary">Meet the Chefs</a>
                </p>
            </div>
            <!--##[%END IF%]##-->
        </div>
    </div>
</div>

<!-- breadcrumb-wrapper -->
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="shopbyfamily">
                <!-- breadcrumb -->
                <!--##[%breadcrumb%]
                    [%PARAM *header%]##-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="[$home_url$]">Home</a>
                            </li>
                    <!--##[%END PARAM%]
                    [%PARAM *body%]##-->
                        <li>
                            <a href="[@url@]">[@name@]</a>
                        </li>
                    <!--##[%END PARAM%]
                    [%PARAM *footer%]##-->
                        </ul>
                <!--##[%END PARAM%] [%END breadcrumb%]##-->
                <!-- end breadcrumb -->
            </div>
        </div> <!-- end row -->
    </div>
</div>
<!-- end breadcrumb-wrapper -->

<div class="container">
    <div class="row">
    	<div class="col-sm-12">
        	<p class="text-center" style="margin-top:40px;">
            Want to join the Chefs of Chef Works?<br>
            Email us <a href="mailto:sales@chefworks.com.au">sales@chefworks.com.au</a>
            </p>
        </div>
        <div class="col-sm-12">
            <br>
            <br>
            <div class="row">
                <!--##[%THUMB_LIST type:'content' content_type:'' template:'cotm' limit:'9999'%]
                [%PARAM *header%]##-->

                <!--##[%END PARAM%][%PARAM FOOTER%]##-->

                <!--#Start Pagination# ##-->
                <ul class="pagination">
                    <!--##[%paging limit:'3'%]
                    [%PARAM *previous_page%]##--><li><a href="[@URL@]">Previous Page</a></li><!--##[%END PARAM%]
                    [%PARAM *goback_pages%]##--><li><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
                    [%PARAM *current_page%]##--><li class="active"><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
                    [%PARAM *gonext_pages%]##--><li><a href="[@URL@]">[@PAGE@]</a></li><!--##[%END PARAM%]
                    [%PARAM *next_page%]##--><li><a href="[@URL@]">Next Page</a></li><!--##[%END PARAM%]
                    [%END paging%]##-->
                </ul>
                <!--#End Pagination# ##-->

                <!--##[%END PARAM%][%END THUMB_LIST%]##-->
            </div>

            <!--##[%THUMB_LIST type:'products' template:'' limit:'[$related_limit$]'%]
            [%PARAM *header%]##-->
            <div class="clear-fix"></div>
            <h3>Related Products</h3>
            <div class="row">
            <!--##[%END PARAM%][%PARAM FOOTER%]##-->
            </div>
            <!--##[%END PARAM%][%END THUMB_LIST%]##--> 




            <!--##[%IF [@content_allow_reviews@]%]##-->
            <div class="wrapper-share-button">
                <a class="addthis_button btn btn-default btn-xs" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-5282cbb6476f74a0" target="_blank">
                    <strong>Share: </strong>
                    <i class="fa fa-facebook-square text-facebook"></i> 
                    <i class="fa fa-twitter-square text-twitter"></i> 
                    <i class="fa fa-google-plus-square text-google-plus"></i> 
                    <i class="fa fa-pinterest-square text-pinterest"></i> 
                    <i class="fa fa-tumblr-square text-tumblr"></i>
                </a>
            </div>
            <a id="comments"></a>
            <hr /> 
            <!--##[%THUMB_LIST type:'content_reviews' limit:'5'%]
            [%PARAM filter_1%][@CONTENT_ID@][%END PARAM%]
            [%PARAM *header%]##-->
            <h3>Comments ([@reviews@])</h3>
            <!--##[%END PARAM%][%PARAM *body%]##-->
            <div itemprop="review" itemscope itemtype="http://schema.org/Review">
                <blockquote>
                    <h4 itemprop="name"><i>[%NOHTML%][@title@][%END NOHTML%]</i></h4>
                    <div>
                        <strong>[%if [@user:bill_first_name@]%]By: <span itemprop="author">[@user:bill_first_name@]</span> on [%/ if%]<meta itemprop="datePublished" content="<!--##[%FORMAT type:'date'%]##-->[@insert_date@]<!--##[%END FORMAT%]##-->"><!--##[%FORMAT type:'date'%]##-->[@insert_date@]<!--##[%END FORMAT%]##--></strong>
                    </div>
                    <span itemprop="description">[%NOHTML%][@review@][%END NOHTML%]</span>
                    [%IF [@review_response@]%]
                    <br /><br />
                    <blockquote>
                        <span class="review_response text-muted"><strong><i>[$website_name$] Response</i></strong><br /> [%NOHTML%][@review_response@][%END NOHTML%]</span>
                    </blockquote>
                    [%/IF%] 
                </blockquote> <hr />  
            </div>    
            <!--##[%END PARAM%] [%PARAM *footer%]##-->
            <!--##[%END PARAM%]
            [%PARAM *ifempty%]##--> 
            <!--##[%END PARAM%]
            [%END THUMB_LIST%]##--> 

            <h3>Leave a comment</h3>

            <form name="edit_review" method="post" role="form" action="[%URL page:'account' type:'write_contentreview'%][%END URL%]">
                <fieldset>
                    <input type="hidden" name="fn" value="confirm">
                    <input type="hidden" name="item" value="[@content_id@]">
                    <input type="hidden" name="checked_terms_and_conditions" value="1">
                    <input type="hidden" name="rating_value" id="rating_value" value="5"/>

                    <div class="form-group">
                        <label for="review_title">Title For Comment</label>
                        <input class="form-control" type="text" name="review_title" id="review_title" value="[%NOHTML%][%FORM id:'review_title'%][%END FORM%][%END NOHTML%]" required/>
                    </div>

                    <div class="form-group">
                        <label for="review_text">Your Comment</label>
                        <textarea name="review_text" id="review_text" rows="10" class="form-control" required>[%NOHTML%][%FORM id:'review_text'%][%END FORM%][%END NOHTML%]</textarea>
                    </div>

                    <!--##[%USER id:'username' if:'eq' value:''%][%PARAM if_true%]##-->
                    <div class="form-group">
                        <label for="customername">Your Name</label>
                        <input class="form-control" type="text" name="customername" id="customername" value="[%NOHTML%][%FORM id:'customername'%][%END FORM%][%END NOHTML%]" required/>
                    </div>

                    <div class="form-group">
                        <label for="emailaddress">Your Email Address</label>
                        <input class="form-control" size="70" type="email" name="emailaddress" id="emailaddress" value="[%NOHTML%][%FORM id:'emailaddress'%][%END FORM%][%END NOHTML%]" required/>
                    </div>
                    <!--##[%END USER%]##-->

                    <p>  
                        <button type="submit" class="btn btn-success" />Post Comment</button>
                    </p>

                    <p class="text-muted">Comments have to be approved before showing up</p>
                </fieldset>
            </form>
            <!--##[%/IF%]##-->
        </div><!-- /.span19 -->
    </div>