<div class="home-headings">
  <h1>Welcome to Chef Works Australia!</h1>
  <h2>Chef Works is the leading manufacturer of high quality culinary apparel including aprons, chef jackets and uniforms.</h2>
  <h3>The Chef Works Australia team are passionate about dressing the hospitality industry.</h3>
</div>
<div class="index-tiles">
  <section class="tile two-third">
    <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover">
      <div class="carousel-inner" role="listbox">
        [%advert type:'text' ad_group:'' template:'carousel' limit:'10'%][%end advert%]
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
      <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
    </div>
  </section>
  <section class="tile third-tr">
    [%content_zone id:'homepage_top_right'%][%end content_zone%]
  </section>
  <div class="clearfix"></div>
</div>

[%content_zone id:'homepage_tiles'%][%end content_zone%]

<br>
<br>
<br>
<br class="hidden-xs">
<br class="hidden-xs"> [%content_zone id:'homepage_middle'%][%end content_zone%]

</div>
<!-- end container -->

[%content_zone id:'homepage_tiles_promo'%][%end content_zone%]

<div class="gray-area">

  <!-- fabric guide -->
  <div id="fabric-guide">
    <section class="container text-center fabric-guide">
      <h2>Guide to fabric icons</h2>
      <br><br>
      <div class="row">

        <div class="col-sm-6 col-md-3 test-center single-fabric ">
          <div class="icon-fabric-wrapper">
            <p>
              <a href="https://www.chefworks.com.au/?rf=va&va=167" title="Browse Chef Works' Lite products">
	                            <img src="assets/images/Chef-Works-Australia-Lite-Fabric.png" alt="Chef Works Australia Lite fabric">
							</a>
          </div>
          <ul>
            <li>159g fine twill fabric</li>
            <li>Comfortable and lightweight</li>
            <li>Available in a variety of colours</li>
          </ul>
          <a class="btn btn-secondary dispm" href="https://www.chefworks.com.au/?rf=va&va=167" title="Browse Chef Works' Lite products">Browse products</a>
        </div>


        <div class="col-sm-6 col-md-3 test-center single-fabric">
          <div class="icon-fabric-wrapper">
            <p>
              <a href="https://www.chefworks.com.au/?rf=va&va=168" title="Browse Chef Works' Cool Vent products">
                            	<img src="assets/images/Chef-Works-Australia-Cool-Vent-Fabric.png" alt="Chef Works Australia Cool Vent fabric">
							</a>
          </div>
          <ul>
            <li>Wicks heat and moisture away from skin</li>
            <li>Allows cool air back through to body</li>
            <li>Encourages evaporation</li>
            <li>Cool and comfortable</li>
            <li>Award-winning fabric technology</li>
          </ul>
          <a class="btn btn-secondary dispm" href="https://www.chefworks.com.au/?rf=va&va=168" title="Browse Chef Works' Cool Vent products">Browse products</a>
        </div>


        <div class="col-sm-6 col-md-3 test-center single-fabric">
          <div class="icon-fabric-wrapper">
            <p>
              <a href="https://www.chefworks.com.au/?rf=va&va=166" title="Browse Chef Works' Super Combed 120 products">
                            	<img src="assets/images/Chef-Works-Australia-Super-Combed-Fabric.png" alt="Chef Works Australia Super Combed fabric">
							</a>
          </div>
          <ul>
            <li>100% cotton</li>
            <li>Longer garment lifespan</li>
            <li>Pre-shrunk for accurate fit</li>
            <li>Luxurious and refined feel for extreme comfort</li>
            <li>Silky texture and appearance</li>
          </ul>
          <a class="btn btn-secondary dispm" href="https://www.chefworks.com.au/?rf=va&va=166" title="Browse Chef Works' Super Combed 120 products">Browse products</a>
        </div>


        <div class="col-sm-6 col-md-3 test-center single-fabric">
          <div class="icon-fabric-wrapper">
            <p>
              <a href="https://www.chefworks.com.au/?rf=va&va=169" title="Browse Chef Works' 100% Cotton products">
	                            <img src="assets/images/Chef-Works-Australia-100-Cotton-Fabric.png" alt="Chef Works Australia 100% Cotton fabric">
							</a>
            </div>
          <ul>
            <li>Made from 100% cotton</li>
            <li>All natural fibers</li>
            <li>Comfortable and breathable</li>
          </ul>
          <a class="btn btn-secondary dispm" href="https://www.chefworks.com.au/?rf=va&va=169" title="Browse Chef Works' 100% Cotton products">Browse products</a>
        </div>

      </div>

      <div class="row dispDesktop">
        <div class="col-sm-6 col-md-3 test-center">
          <a class="btn btn-secondary" href="https://www.chefworks.com.au/?rf=va&va=167" title="Browse Chef Works' Lite products">Browse products</a>
        </div>
        <div class="col-sm-6 col-md-3 test-center">
          <a class="btn btn-secondary" href="https://www.chefworks.com.au/?rf=va&va=168" title="Browse Chef Works' Cool Vent products">Browse products</a>
        </div>
        <div class="col-sm-6 col-md-3 test-center">
          <a class="btn btn-secondary" href="https://www.chefworks.com.au/?rf=va&va=166" title="Browse Chef Works' Super Combed 120 products">Browse products</a>
        </div>
        <div class="col-sm-6 col-md-3 test-center">
          <a class="btn btn-secondary" href="https://www.chefworks.com.au/?rf=va&va=169" title="Browse Chef Works' 100% Cotton products">Browse products</a>
        </div>
      </div>
    </section>
  </div>
  <!-- end fabric guide -->

  <!-- catalogues   <div class="catalogues">
    <section class="container text-center">
      <h2>Our Catalogue</h2>
      <div data-configid="12506447/53311137" style="width:100%; height:400px;" class="issuuembed"></div>
      <script type="text/javascript" src="[%ntheme_asset%]js/issuu.js[%end ntheme_asset%]" async="true">
      </script>
  </div>
  </section>
</div>
<script type="text/javascript">
  $(function(){
    $(".header-controls__more-toggle").hide();
  });
</script>
<br><br> -->

<!--##[%load_template file:"includes/bottom-homepage.template.html"%][%END load_template%]##-->

<div class="container" style="display:none;">

  <div style="clear:both;"></div>
  <br>

  <div class="col-sm-12">
    <div id="homepage-content">[@page_content@]</div>
    [%ADVERT type:'product' limit:'8' template:'' ad_group:''%] [%PARAM *header%]
    <hr />
    <div class="row">
      [%END PARAM%] [%PARAM footer%]
    </div>
    [%END PARAM%] [%PARAM *ifempty%] [%RANDOM_PRODUCTS category:'0' template:'' limit:'8'%] [%PARAM *header%]
    <hr />
    <div class="row">
      [%END PARAM%] [%PARAM *footer%]
    </div>
    [%END PARAM%] [%END RANDOM_PRODUCTS%] [%END PARAM%] [%END ADVERT%]
