<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5DTG92Z');
  </script>
  <!-- End Google Tag Manager -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="refresh" content="259200">

  <meta name="keywords" content="[%url_info name:'meta_keywords'%][%end url_info%]" />
  <meta name="description" content="[%url_info name:'meta_description'%][%end url_info%]" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta property="og:title" content="[%url_info name:'page_title'%][%end url_info%]" />
  <meta property="og:description" content="[%url_info name:'meta_description'%][%end url_info%]" />
  <meta property="og:image" content="[%if [@config:current_page_type@] eq 'product'%]http://www.chefworks.com.au[%asset_url type:'product' id:'[@SKU@]' thumb:'full'%][%end asset_url%][%ELSEIF [@config:current_page_type@] eq 'content'%]http://www.chefworks.com.au[%ASSET_url type:'content' id:'[@content_id@]' default:'/assets/website_logo.png'%][%end ASSET_url%][%ELSE%]http://www.chefworks.com.au/assets/website_logo.png[%end if%]"
  />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.chefworks.com.au[@config:canonical_url@]" />
  <meta property="og:site_name" content="Chef Works" />

  <title>[%url_info name:'page_title'%][%end url_info%]</title>
  <link rel="canonical" href="[@config:canonical_url@]" />
  <link rel="shortcut icon" href="/assets/favicon_logo.png" />


  <link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css?v=1.4[%end ntheme_asset%]" media="all" />
  <link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/style.css?v=1.4[%end ntheme_asset%]" media="all" />


  <link rel="stylesheet" type="text/css" href="[%ntheme_asset%]plugins/fancybox/jquery.fancybox.css[%end ntheme_asset%]" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="[%ntheme_asset%]css/app/font-awesome-4.7.0/css/font-awesome.min.css[%end ntheme_asset%]">

  <!--[if lte IE 8]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
  <meta name="google-site-verification" content="p8hX75S21hN580N4Wen7XE1IQaYiAD0brk9ZAVT2mhQ" /> [%tracking_code type:'Declaration'%][%end tracking_code%]
  <script async src="//127667.tctm.co/t.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>

<body id="n_[@config:current_page_type@]">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DTG92Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- header -->
  <div class="wrapper-header">
    <!-- topmenu -->
    <div id="topmenu">
      <div class="container">
        <div class="row">
          <div class="hidden-xs col-sm-12">

            [%cache type:'menu' id:'header-content-menu'%]
            <ul class="nav navbar-nav header-nav pull-right">
              [%menu id:'web_header'%] [%param *level_1%]
              <li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] lvl1"> <a href="[@url@]" [%data id: 'next_level' if: 'ne' value: ''%]class="dropdown-toggle" [%end data%]>[@name@]</a> [%data id:'next_level' if:'ne' value:''%]
                <ul class="dropdown-menu">
                  [@next_level@]
                </ul>
                [%end data%]
              </li>
              [%end param%] [%param *level_2%]
              <li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] lvl2"> <a href="[@url@]">[@name@]</a> [%data id:'next_level' if:'ne' value:''%]
                <ul class="dropdown-menu dropdown-menu-horizontal">
                  [@next_level@]
                </ul>
                [%end data%]
              </li>
              [%end param%] [%param *level_3%]
              <li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] lvl3"> <a href="[@url@]">[@name@]</a> [%data id:'next_level' if:'ne' value:''%]
                <ul class="dropdown-menu dropdown-menu-horizontal">
                  [@next_level@]
                </ul>
                [%end data%]
              </li>
              [%end param%] [%end menu%] [%/ cache%]
              <li><a href="tel:1300 362 228" title="Call us!"><i class="fa fa-phone"></i> 1300 362 228</a>
                <li><a href="[%url id:'290'/%]" title="Find a stokist!"><i class="fa fa-map-marker" aria-hidden="true"></i> Find a stockist</a>
                  <li class="lv1-li dropdown dropdown-hover"> <a href="[%url page:'account'%][%end url%]" [%data id: 'next_level' if: 'ne' value: ''%]class="dropdown-toggle" data-toggle="dropdown" [%end data%]><i class="fa fa-user"></i> <span class="visible-lg visible-inline-lg">[%if [@user:bill_first_name@]%][@user:bill_first_name@]'s[%else%]My[%/ if%]&nbsp;Account</span></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="[%url page:'account'%][%end url%]">Account Home</a></li>
                      <li><a href="[%url page:'account'%][%end url%]#orders">Orders</a></li>
                      [%if [@config:allow_user_quote@]%]
                      <li><a href="[%url page:'account'%][%end url%]#quotes">Quotes</a></li>
                      [%/ if%]
                      <li><a href="[%url page:'account' type:'payrec'%][%end url%]">Pay Invoices</a></li>
                      <li><a href="[%url page:'account' type:'favourites'%][%end url%]">Favourites</a></li>
                      <li><a href="[%url page:'account' type:'wishlist'%][%end url%]">Wishlists</a></li>
                      <li><a href="[%url page:'account' type:'warranty'%][%end url%]">Resolution Centre</a></li>
                      <li><a href="[%url page:'account' type:'edit_account'%][%end url%]">Edit My Details</a></li>
                      <li><a href="[%url page:'account' type:'edit_address'%][%end url%]">Edit My Address Book</a></li>
                      <li class="divider"></li>
                      [%user id:'username' if:'ne' value:''%] [%param if_true%]
                      <li> <a href="[%url page:'account' type:'edit_pwd'%][%end url%]"><i class="fa fa-lock"></i> Change My Password</a> </li>
                      <li> <a href="[%url page:'account' type:'logout'%][%end url%]"><i class="fa fa-off"></i> Log Out</a> </li>
                      [%end param%] [%param if_false%]
                      <li> <a href="[%url page:'account' type:'login'%][%end url%]" title="Login">Login</a> </li>
                      <li> <a href="[%url page:'account' type:'register'%][%end url%]" title="Register">Register</a> </li>
                      [%end param%] [%end user%]
                    </ul>
                  </li>

                  <li id="header-cart" class="btn-group">
                    <a href="[%url page:'checkout' type:'cart'%][%end url%]" class="btn btn-default" id="cartcontentsheader" style="background:none;">
                                        <i class="fa fa-shopping-cart"></i> <span class="visible-lg visible-inline-lg">Cart</span> - <span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%end CART%][%end format%]</span> Items
                                    </a>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="box" id="neto-dropdown">
                        <div class="body padding" id="cartcontents"></div>
                        <div class="footer"></div>
                      </li>
                    </ul>
                  </li>
            </ul>
            <div style="clear:both;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end topmenu -->

    <!-- middle -->
    <div class="container">
      <div class="row row-padded">
        <div class="col-xs-5 col-sm-4 col-md-3">
          <div class="wrapper-logo">
            <a id="top" href="[@config:homeurl@]" title="[@config:company_name@]">
    				        <img class="logo" src="[@config:imageurl@]/website_logo.png" alt="[@config:company_name@]"/>
    			        </a>
          </div>
        </div>

        <div id="mob-menu-tools" class="col-xs-7 col-sm-8 col-md-9 text-right">
          <ul class="navigation-list list-inline visible-xs">
            <li class="mm-pad"><a href="[%url page:'checkout' type:'cart'%][%end url%]"><span class="icon"><i class="fa fa-shopping-cart"></i></span><!-- (<span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%end CART%][%end format%]</span>) --> </a></li>
            <li class="mm-pad"><a href="javascript:void(0);" data-toggle="modal" data-target="#mobileSearch"><span class="icon"><i class="fa fa-search"></i></span></a></li>
            <li class="mm-pad"><a href="#" id="mob-menu" class="" data-toggle="collapse" data-target=".navbar-responsive-collapse"><span class="icon"><i class="fa fa-reorder"></i></span></a></li>
          </ul>
        </div>

        <div class="hidden-xs col-sm-8 col-md-9 text-right">
          <form id="desktop-search" class="form-inline pull-right" name="productsearch" method="get" action="/">
            <input type="hidden" name="rf" value="kw" />
            <div class="input-group">
              <input class="form-control ajax_search" tabindex="-1" placeholder="Search" value="[%nohtml%][%filter ID:'keywords'%][%end filter%][%end nohtml%]" id="mobile_name_search" required="" autocomplete="off" name="kw" type="search" onclick='this.focus();this.select()'
              />
              <span class="input-group-btn">
                                <button type="submit" value="Search" class="btn btn-loads btn-default" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>"><i class="fa fa-search"></i></button>
                            </span>
            </div>
          </form>
        </div>

      </div>
    </div>
    <!-- end middle -->

    <!-- mainnav -->
    <div id="mainnav">
      <div>
        <div class="row">
          <div class="col-xs-12">
            <div class="navbar navbar-default">
              <div class="navbar-header" style="display:none;">
                <ul class="navigation-list list-inline visible-xs">
                  <!-- li><a href="[@config:home_url@]"><span class="icon"><i class="fa fa-home"></i></span><br>
                                    Home</a></li -->
                  <li><a href="#" class="" data-toggle="collapse" data-target=".navbar-responsive-collapse"><span class="icon"><i class="fa fa-reorder"></i></span></a></li>
                  <li><a href="[%url page:'checkout' type:'cart'%][%end url%]"><span class="icon"><i class="fa fa-shopping-cart"></i></span><!-- (<span rel="a2c_item_count">[%format type:'number' dp:'0'%][%CART id:'total_items'%][%end CART%][%end format%]</span>) --> </a></li>
                  <li><a href="/_myacct/"><span class="icon"><i class="fa fa-user"></i></span></a></li>
                  <li><a href="javascript:void(0);" data-toggle="modal" data-target="#mobileSearch"><span class="icon"><i class="fa fa-search"></i></span></a></li>
                </ul>
              </div>

              <!-- main menu -->
              <div id="main-menu" class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                  [%cache type:'cmenu' %] [%CATEGORYMENU SORTBY:'sortorder' SHOW_EMPTY:'1'%][%PARAM *level_1%]
                  <li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] parentMainA">
                    <a href="[@url@]" [%data id: 'next_level' if: 'ne' value: ''%]class="dropdown-toggle" [%end data%]>[@name@]</a> [%data id:'next_level' if:'ne' value:''%]
                    <ul id="[@content_id@] parentA" class="[@content_type_name@] [@content_id@] dropdown-menu ul1">
                      [@next_level@]
                    </ul>
                    [%end data%]
                  </li>
                  [%end param%] [%param *level_2%]
                  <li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] parentMainB"> <a href="[@url@]">[@name@]</a> [%data id:'next_level' if:'ne' value:''%]
                    <ul id="[@content_id@] parentB" class="[@content_type_name@] [@content_id@] dropdown-menu dropdown-menu-horizontal">
                      [@next_level@]
                    </ul>
                    [%end data%]
                  </li>
                  [%end param%] [%param *level_3%]
                  <li class="[%data id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%end data%] parentMainC"> <a href="[@url@]">[@name@]</a> [%data id:'next_level' if:'ne' value:''%]
                    <ul id="[@content_id@] parentC" class="[@content_type_name@] [@content_id@] dropdown-menu dropdown-menu-horizontal">
                      [@next_level@]
                    </ul>
                    [%end data%]
                  </li>
                  [%END PARAM%][%END CATEGORYMENU%] [%/ cache%]

                </ul>
              </div>
              <!-- end main menu -->

              <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- end mainnav -->


  </div>
  <!-- end header -->


  <!-- role main hey -->
  <div role="main">
