	<!-- cta bottom -->
    <div class="cta-bottom-hp">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 col-md-3">
                    [%content_zone id:'b_homepage_aboutchefworks'%][%end content_zone%]
                </div>
                <div class="col-sm-6 col-md-3">
                    [%content_zone id:'b_homepage_capabilities'%][%end content_zone%]
                </div>
                <div class="col-sm-6 col-md-3">
                    [%content_zone id:'b_homepage_cotm'%][%end content_zone%]
                </div>
                <div class="col-sm-6 col-md-3">
                    [%content_zone id:'b_homepage_becomereseller'%][%end content_zone%]
                </div>
            </div>
        </div>
    </div>
    <!-- end cta bottom -->  