<style>
	.nopadding{
		padding: 0;
	}
	.detail{
		float:left;
		width: 50%;
	}
	.detail img, #carousel-crossback img{
		width:100%;
	}
	.family-thumb{
		position: relative;
		margin-bottom: 20px;
	}
	.family-thumb img{
		float:left;
		width: 100%;
	}
	.family-thumb .info{
		position: absolute;
		width: 50%;
		text-align: center;
		padding: 15% 0;
	}
	.family-thumb .info h3{
		text-transform: lowercase;
		border-bottom: 4px solid #333;
		display: inline-block;
		font-size: 30px;
		padding-bottom: 3px;
	}
	.family-thumb .info .colour-wrapper p{
		width: 80px;
		display: inline-block;
	}
	.family-thumb .info strong, .family-thumb .info .colour-wrapper p span{
		color: #333;
	}
	.family-thumb .info .colour-wrapper p:first-of-type{
		margin-right: 15px;
	}
	.family-thumb .info .colour-wrapper img{
		margin-left: 20px;
		width: 40px;
		margin-bottom: 10px;
	}
	.family-thumb .info .available-colours{
		float: left;
		margin: auto;
	}
	
</style>
<div class="container">
	<div class="row" style="margin-bottom:20px; margin-top: 40px;">
		<div class="col-xs-12 col-sm-6 nopadding">
			<!-- slider -->
			<div id="carousel-crossback" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-crossback" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-crossback" data-slide-to="1"></li>
					<li data-target="#carousel-crossback" data-slide-to="2"></li>
					<li data-target="#carousel-crossback" data-slide-to="3"></li>
					<li data-target="#carousel-crossback" data-slide-to="4"></li>
					<li data-target="#carousel-crossback" data-slide-to="5"></li>
					<li data-target="#carousel-crossback" data-slide-to="6"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href="https://www.chefworks.com.au/?kw=dorset&rf=kwva&va=162" title="Dorset Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/dorset-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Dorset Cross Back Apron">
						</a>
					</div>
					<div class="item">
						<a href="https://www.chefworks.com.au/?kw=boulder&rf=kwva&va=162" title="Boulder Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/boulder-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Boulder Cross Back Apron">
						</a>
					</div>
					<div class="item">
						<a href="https://www.chefworks.com.au/?kw=austin&rf=kwva&va=162" title="Austin Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/austin-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Austin Cross Back Apron">
						</a>
					</div>
					<div class="item">
						<a href="https://www.chefworks.com.au/?kw=rockford&rf=kwva&va=162" title="Rockford Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/rockford-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Rockford Cross Back Apron">
						</a>
					</div>
					<div class="item">
						<a href="https://www.chefworks.com.au/?kw=manhattan&rf=kwva&va=162" title="Manhattan Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/manhattan-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Manhattan Cross Back Apron">
						</a>
					</div>
					<div class="item">
						<a href="https://www.chefworks.com.au/?kw=bronx&rf=kwva&va=162" title="Bronx Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/bronx-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Bronx Cross Back Apron">
						</a>
					</div>
					<div class="item">
						<a href="https://www.chefworks.com.au/?kw=memphis&rf=kwva&va=162" title="Memphis Cross Back Apron">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/memphis-cross-back-urban-apron-by-chef-works-australia.jpg" alt="Memphis Cross Back Apron">
						</a>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-crossback" role="button" data-slide="prev">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-crossback" role="button" data-slide="next">
					<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- end slider -->
		</div>
		<div class="col-xs-12 col-sm-6 nopadding">
			<!-- details -->
			<div class="detail">
				<a href="https://www.chefworks.com.au/boulder-black-brown-cross-back-apron" title="Boulder Cross Back Apron Overall Clip">
					<img src="[%url type:'home'/%]assets/images/cross-back-category/boulder-cross-back-urban-apron-detail-by-chef-works-australia.jpg" alt="Boulder Overall Clip Detail">
				</a>
			</div>
			<div class="detail">
				<a href="https://www.chefworks.com.au/?kw=rockford&rf=kwva&va=162" title="Rockford Cross Back Loop and Ties">
					<img src="[%url type:'home'/%]assets/images/cross-back-category/rockford-cross-back-urban-apron-detail-by-chef-works-australia.jpg" alt="Rockford Overall Clip Detail">
				</a>
			</div>
			<div class="detail">
				<a href="https://www.chefworks.com.au/?kw=memphis&rf=kwva&va=162" title="Memphis Tie">
					<img src="[%url type:'home'/%]assets/images/cross-back-category/memphis-cross-back-urban-apron-detail-by-chef-works-australia.jpg" alt="Memphis Overall Clip Detail">
				</a>
			</div>
			<div class="detail">
				<a href="https://www.chefworks.com.au/?kw=memphis&rf=kwva&va=162" title="Memphis Chest Pocket Zipper">
					<img src="[%url type:'home'/%]assets/images/cross-back-category/manhattan-cross-back-urban-apron-detail-by-chef-works-australia.jpg" alt="Manhattan Overall Clip Detail">
				</a>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="container">
	<!-- families -->
	<div class="row hide-xs">
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/?rf=kw&kw=dorset+cross+back" title="Dorset Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/dorset-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="Dorset Pewter Cross Back Apron">
			</a>
			<div class="info" style="right: 0;">
				<h3>dorset</h3>
				<p style="margin-bottom: 20px;">100% cotton denim</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/dorset-pewter-cross-back-apron" title="View Dorset Cross Back Pewter">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/pew.jpg" width="40px" height="40px">
						</a>
						<span>pewter</span>
					</p>
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/dorset-earth-brown-cross-back-apron" title="View Dorset Cross Back Earth Brown">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/eab.jpg" width="40px" height="40px">
						</a>
						<span>earth brown</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/boulder-black-brown-cross-back-apron" title="Boulder Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/boulder-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="">
			</a>
			<div class="info" style="right: 0;">
				<h3>boulder</h3>
				<p style="margin-bottom: 20px;">100% waxed cotton denim</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/boulder-black-brown-cross-back-apron" title="View Boulder Black/Brown">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/bnb.jpg" width="40px" height="40px">
						</a>
						<span>black/brown</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/austin-natural-denim-cross-back-apron" title="Austin Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/austin-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="">
			</a>
			<div class="info" style="left: 0;">
				<h3>austin</h3>
				<p style="margin-bottom: 20px;">100% cotton denim</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/austin-natural-denim-cross-back-apron" title="View Austin Natural">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/nat.jpg" width="40px" height="40px">
						</a>
						<span>&emsp;&emsp;nat&emsp;&emsp;</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/?rf=kw&kw=rockford+cross+back" title="Rockford Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/rockford-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="">
			</a>
			<div class="info" style="left: 0;">
				<h3>rockford</h3>
				<p style="margin-bottom: 20px;">100% cotton canvas</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/rockford-nutmeg-cross-back-apron" title="View Rockford Nutmeg">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/ntm.jpg" width="40px" height="40px">
						</a>
						<span>nutmeg</span>
					</p>
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/rockford-steel-grey-cross-back-apron" title="View Rockford Steel Grey">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/sgy.jpg" width="40px" height="40px">
						</a>
						<span>steel grey</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/?rf=kw&kw=manhattan+cross+back" title="Manhattan Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/manhattan-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="">
			</a>
			<div class="info" style="right: 0;">
				<h3>manhattan</h3>
				<p style="margin-bottom: 20px;">100% cotton denim</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/manhattan-black-denim-cross-back-apron" title="View Manhattan Black">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/blk.jpg" width="40px" height="40px">
						</a>
					<span>black</span>
					</p>
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/manhattan-blue-denim-cross-back-apron" title="View Manhattan Indigo Blue">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/ibl.jpg" width="40px" height="40px">
						</a>
						<span>indigo blue</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/?rf=kw&kw=bronx+cross+back" title="Bronx Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/bronx-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="">
			</a>
			<div class="info" style="right: 0;">
				<h3>bronx</h3>
				<p style="margin-bottom: 20px;">100% waxed cotton denim</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/bronx-black-denim-cross-back-apron" title="View Bronx Black">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/blk.jpg" width="40px" height="40px">
						</a>
						<span>black</span>
					</p>
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/bronx-blue-denim-cross-back-apron" title="View Bronx Indigo Blue">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/ibl.jpg" width="40px" height="40px">
						</a>
						<span>indigo blue</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 family-thumb">
			<a href="https://www.chefworks.com.au/?rf=kw&kw=memphis+cross+back" title="Memphis Cross Back Pewter">
				<img src="[%url type:'home'/%]assets/images/cross-back-category/memphis-cross-back-urban-apron-by-chef-works-australia-flat.jpg" alt="">
			</a>
			<div class="info" style="left: 0;">
				<h3>memphis</h3>
				<p style="margin-bottom: 20px;">100% cotton denim</p>
				<p><strong>available in</strong></p>
				<div class="colour-wrapper">
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/memphis-black-denim-cross-back-apron" title="View Memphis Black">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/blk.jpg" width="40px" height="40px">
						</a>
						<span>black</span>
					</p>
					<p style="margin: auto;">
						<a href="https://www.chefworks.com.au/memphis-blue-denim-cross-back-apron" title="View Memphis Indigo Blue">
							<img src="[%url type:'home'/%]assets/images/cross-back-category/ibl.jpg" width="40px" height="40px">
						</a>
						<span>indigo blue</span>
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>