		<style>
			.wrapper-xmas{padding:80px 0; background: url(https://www.chefworks.com.au/assets/images/xmas-closure-bg.jpg); background-position:center; background-size: cover; display: none;}
			.date-box{width:100%;padding:20px; margin-bottom: 20px;}
			.d-number{font-size:80px;}
			.d-month{font-size:30px; display: block; margin-top:-29px;}
			.d-title{font-size:22px; display: none;}
			.d-text{font-size:16px; padding: auto 10px;}
			.date-box, .d-number, .d-month{font-family:'Montserrat', sans-serif;}
			.d-title{font-weight: bold;}
			.d-dash{border:2px solid; display:block; width:30px;}
			.d-dismiss{display: block; height: 30px; position: absolute; right: 15px; top:15px; cursor: pointer;}
			@media (max-width: 767px){
				.d-number{font-size:60px;}
				.d-title{font-size:18px;}
				.d-text{font-size:14px; padding: auto 10px;}
			}
		</style>
  		<div class="wrapper-xmas">
  			<div class="container">
  				<div class="row">
					<div class="col-xs-12 text-center">
						<h2 style="text-transform:none;">We are wrapping up for Xmas</h2>
						<p>&emsp;</p>
						<h4 style="text-transform: none;">Important dates</h4>
						<p>&emsp;</p>
					</div>
 				</div>
  				<div class="row">
					<div class="col-xs-6 col-sm-3 closure-date">
						<div class="date-box text-center" style="background:#89dab5;">
							<span class="d-number" style="color: #fff;">12th</span>
							<span class="d-month" style="color: #fff;">December</span>
						</div>
						<p class="d-title" style="color:#89dab5;">
						Last day to<br>
						submit embroidery
						<p>
						<p class="d-text">
						Last day to submit embroidery orders for dispatch in 2016.
						</p>
						<span class="d-dash" style="border-color:#89dab5"></span>
					</div>
					<div class="col-xs-6 col-sm-3 closure-date">
						<div class="date-box text-center" style="background:#e9e3bf;">
							<span class="d-number" style="color: #7eb3c1;">16th</span>
							<span class="d-month" style="color: #7eb3c1;">December</span>
						</div>
					  <p class="d-title" style="color:#c0aa6c;">
						Last day to submit<br>
						non-embroidery orders
						<p>
						<p class="d-text">
						Last day to submit non-embroidery orders for dispatch in 2016.
						</p>
						<span class="d-dash" style="border-color:#c0aa6c"></span>
					</div>
					<div class="col-xs-6 col-sm-3 closure-date">
						<div class="date-box text-center" style="background:#6d99b6;">
							<span class="d-number" style="color: #e4cece;">23rd</span>
							<span class="d-month" style="color: #e4cece;">December</span>
						</div>
					  <p class="d-title" style="color:#6d99b6;">
						Last day of operations<br>
						&emsp;
						<p>
						<p class="d-text">
						Last day of operations in 2016.
						</p>
						<span class="d-dash" style="border-color:#6d99b6"></span>
					</div>
					<div class="col-xs-6 col-sm-3 closure-date">
						<div class="date-box text-center" style="background:#ededee;">
							<span class="d-number" style="color: #7eb3c1;">9th</span>
							<span class="d-month" style="color: #7eb3c1;">January</span>
						</div>
					  <p class="d-title" style="color:#7eb3c1;">
						We’ll re-open<br>
						&emsp;
						<p>
						<p class="d-text">
						We’ll re-open and be ready to kick-start the new year.
						</p>
						<span class="d-dash" style="border-color:#7eb3c1"></span>
					</div>
					<div class="d-dismiss">
						<img src="https://www.chefworks.com.au/assets/images/x.jpg" alt="dismiss">
					</div>
				</div>
			</div>
		</div>